.input-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}
button[type="submit"] {
  margin-top: 15px;
  margin-bottom: 5px;
}
span{
  text-decoration: underline;
  cursor: pointer;
}
